<!-- <mat-drawer-container class="container">
  <mat-drawer #drawer>
    <button color="primary" mat-button routerLink="/views">Views</button>
  </mat-drawer>
  <div class="sidenave-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </div>
<router-outlet></router-outlet>
</mat-drawer-container> -->

<mat-menu #views="matMenu">
  <button mat-menu-item routerLink="/views/backlog">Backlog</button>
  <button mat-menu-item routerLink="/views/threeday">Three Days</button>
  <button mat-menu-item routerLink="/views/week">Week</button>
</mat-menu>

<button mat-icon-button [matMenuTriggerFor]="views">Views</button>
<router-outlet></router-outlet>
