<mat-form-field>
  <input matInput [matDatepicker]="myDatepicker" placeholder="choose a date" (dateChange)="addEvent('change', $event)"
    (dateInput)="addEvent('input', $event)">
  <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
  <mat-datepicker #myDatepicker></mat-datepicker>
  <mat-error *ngIf="dateCtrl.hasError('required')">Date must be in mm/dd/yyyy form</mat-error>
</mat-form-field>

<p>Week: {{ fromDate | date: 'E, MMM dd, y' }} - {{ endDate | date: 'E, MMM dd, y' }}</p>