<table mat-table matSort [dataSource]="dataSource" multiTemplateDateRows>
  <ng-container matColumnDef="toDo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Item</th>
    <td mat-cell *matCellDef="let element">{{ element.toDo }}</td>
  </ng-container>

  <ng-container matColumnDef="isProgress">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Progress</th>
    <td mat-cell *matCellDef="let element">{{ element.isProgress }}</td>
  </ng-container>

  <ng-container matColumnDef="isCompleted">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Complete</th>
    <td mat-cell *matCellDef="let element">{{ element.isCompleted }}</td>
  </ng-container>

  <ng-container matColumnDef="dateCreated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created</th>
    <td mat-cell *matCellDef="let element">{{ element.dateCreated }}</td>
  </ng-container>

  <ng-container matColumnDef="dateProcessStart">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Process Start Date</th>
    <td mat-cell *matCellDef="let element">{{ element.dateProcessStart }}</td>
  </ng-container>

  <ng-container matColumnDef="dateCompletion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Completed On</th>
    <td mat-cell *matCellDef="let element">{{ element.dateCompletion }}</td>
  </ng-container>

  <ng-container matColumnDef="forDay">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>On Day</th>
    <td mat-cell *matCellDef="let element">{{ element.forDay }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true;"></tr>
  <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
</table>